:root {
  --connexionBackgroundColor: white;
}

.dark_mode {
  --connexionBackgroundColor: black;
}

#main {
  background-color: var(--connexionBackgroundColor);
  padding-top: 50px;
  padding-bottom: 50px;
}

.content-form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
}

form {
  text-align: center;
  width: 360px;
  background-color: #4a4e69;
  margin: auto;
  padding: 10px;
  color: white;
}
