<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="assets/css/header.css">
  <title>Header</title>

</head>

<body>
  <header>
    <div class="hauteur">
      <img src="assets/img/V.png" alt="Vintrade" class="v">

      <div class="connexion">
        <a href="index.php?page=connexion">Se Connecter</a>
        <a href="index.php?page=inscription">S'inscrire</a>
      </div>
    </div>
    <div class="img">

      <img src="assets/img/logo.png" class="logo" alt="Logo Vintrade">
    </div>

    <nav>
      <ul>
        <li class="menu-deroulant">
          <a href="#">Homme</a>
          <ul class="sous-menu">
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
          </ul>
        </li>
        <li class="menu-deroulant">
          <a href="#">Femme</a>
          <ul class="sous-menu">
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
          </ul>
        </li>
        <li class="menu-deroulant">
          <a href="#">enfant</a>
          <ul class="sous-menu">
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
          </ul>
        </li>
        <li class="menu-deroulant">
          <a href="#">meubles</a>
          <ul class="sous-menu">
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
          </ul>
        </li>
        <li class="menu-deroulant">
          <a href="#">informatique</a>
          <ul class="sous-menu">
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
          </ul>
        </li>



        <label for="site-search"></label>
        <input type="search" placeholder="Recherche" id="site-search" name="q" aria-label="Recherche" class="input">

        <button><span class="iconify" data-icon="mdi:magnify"></span></button>

        <!--RAJOUTER DES ELEMENTS POUR LA POP UP ****************************************-->
      </ul>
      </div>
    </nav>
  </header>
  <script src="https://code.iconify.design/2/2.1.0/iconify.min.js"></script>
</body>

</html>